header{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: #3db8f6;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.article{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: large;
    width: auto;

}

.section1{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-area: 1 / 1 / span 1 / span 1;
    border: 5px ridge #1995AD;
}
.section1 > h{
    font-size: xx-large;
    margin: 10px;
}
.section2{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-area: 2 / 1 / span 1 / span 1;
    border: 5px ridge #1995AD;
}
.section1 > h{
    font-size: xx-large;
    margin: 10px;
}

#grille1 {
    height: 540px;
    width: 630px;
    background-color: cornflowerblue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tuile{
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}
.tuile:hover{
    background-color: dodgerblue;
}

.rouge-piece{
    background-color: red;
}

.jaune-piece{
    background-color: yellow;
}

.rouge-piece:hover{
    background-color: red;
}

.jaune-piece:hover{
    background-color: yellow;
}

.recommencerJeu{
    background-color: azure;
    padding: 8px;
    text-align: center;
}
.recommencerJeu:hover{
    background-color: #3db8f6;
    padding: 8px;
    text-align: center;
}

.rules{
    text-align: center;
    font-size: 20px;
    background-color: #3db8f6;
    margin:0 auto;
    width: 150px;
    height:auto
}

.rules:hover{
    cursor:pointer;
}

.button-rules{
    padding-left: 45%;
    padding-right:75%;
    padding-top:20px;
    width:50px;
    height:auto;
}

.Rules-Modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.Rules-Modal div {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
